extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block content
    h1 #{title}
    script(type='text/javascript').
        const GameId='#{GameId}';
        const GameDate='#{GameDate}';
        const HtriCode='#{HtriCode}';
        const VtriCode='#{VtriCode}';
    .container-fluid
      .BoxScore
        .item.borderYtoX 
          a(v-on:click='selectBox') Box
          a(v-on:click='selectScore') Score

        .GameId(v-show="false") #{GameId}
        //- .VtriCode(v-show="true") #{VtriCode}
        //- .HtriCode(v-show="true") #{HtriCode}
        //- h4 {{message}}
        .Box
          .segment-control
            .Vselectitem(v-on:click='selectBoxItem') #{VtriCode}
            .Hselectitem(v-on:click='selectBoxItem') #{HtriCode}
          table.Htable.table-hover
            tbody
              tr 
                th.name Name
                th MIN
                th PTS
                th REB
                th OREB
                th DREB
                th AST
                th STL
                th BLK
                th TO
                th PF
                th FG
                th 3PT
                th FT   
                th FPTS
                th +/-
              tr(v-for='value in object.HomeData') 
                td.row.name
                  .playersimg.col-4(:style="image_css(value[1])")
                  .col-8.name {{value[0]}} 
                td {{value[2]}} 
                td {{value[3]}} 
                td {{value[4]}}
                td {{value[13]}} 
                td {{value[14]}}  
                td {{value[5]}} 
                td {{value[6]}} 
                td {{value[7]}} 
                td {{value[8]}} 
                td {{value[9]}} 
                td {{value[10]}} 
                td {{value[11]}} 
                td {{value[12]}} 
                td {{value[13]}} 
                td {{value[14]}} 
          table.Vtable.table-hover
            tbody
              tr 
                th.name Name
                th MIN
                th PTS
                th REB
                th OREB
                th DREB
                th AST
                th STL
                th BLK
                th TO
                th PF
                th FG
                th 3PT
                th FT   
                th FPTS
                th +/-
              tr(v-for='value in object.AwayData')
                td.row.name
                  .playersimg.col-4(:style="image_css(value[1])")
                  .col-8.name {{value[0]}} 
                td {{value[2]}} 
                td {{value[3]}} 
                td {{value[4]}}
                td {{value[13]}} 
                td {{value[14]}}  
                td {{value[5]}} 
                td {{value[6]}} 
                td {{value[7]}} 
                td {{value[8]}} 
                td {{value[9]}} 
                td {{value[10]}} 
                td {{value[11]}} 
                td {{value[12]}} 
                td {{value[13]}} 
                td {{value[14]}} 
        //- .Box(v-else) 查無此場比賽資訊 請確認是否結束 (v-if='object.HomeData!=null')
        .Score 
          table.table-hover.col-5
            tr
              th Team
              th 1st
              th 2st
              th 3st
              th 4st  
              th(v-if="object.ScoreDetailData && object.ScoreDetailData[0].length=='8'") ot
              th(v-if="object.ScoreDetailData && object.ScoreDetailData[0].length=='9'") 2ot
              th(v-if="object.ScoreDetailData && object.ScoreDetailData[0].length=='10'") 3ot
              th Total
            tr(v-for='value in object.ScoreDetailData')
              td 
                a.teamName {{value[0]}} 
                small {{value[1]}} 
              td {{value[2]}}
              td {{value[3]}}
              td {{value[4]}}
              td {{value[5]}}
              td(v-if="value.length=='8'") {{value[6]}}
              td(v-if="value.length=='9'") {{value[7]}}
              td(v-if="value.length=='10'") {{value[8]}}
              td {{value[value.length-1]}}

    
    script(src='/js/BoxScore.js')
    link(rel='stylesheet', href='/stylesheets/BoxScore.css')

